body {
    background-color: #21314D;
    font-family: "Courier", Monaco, monospace;
    color: gainsboro;
}

.highlight {
    color: #8B8D8E;
}

.fa {
    border-radius: 50%;
    width: 46px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.fa:hover {
    text-decoration: none !important;
    color: white;
}

.fa-facebook {
    color: white;
}

.fa-facebook:hover {
    background: #3B5998;
}

.fa-twitter {
    color: white;
}

.fa-twitter:hover {
    background: #55ACEE;
}

.fa-linkedin {
    color: white;
}

.fa-linkedin:hover {
    background: #007bb5;
}

.fa-instagram {
    color: white;
}

.fa-instagram:hover {
    background: #125688;
}

.fa-github {
    color: white;
}

.fa-github:hover {
    background: rgb(34, 34, 34);
}

.nav-link {
    color: gainsboro !important;
}

.nav-link:hover {
    color: #D2492A !important;
}

/*index.html*/
#carouselFeature {
    position: relative;
    width: 80%;
    min-width: 500px;
    top: 75px;
    margin-left: auto;
    margin-right: auto;
}

#carousel1 {
    height: 80vh;
}

#carousel2 {
    height: 80vh;
}

#carousel3 {
    height: 80vh;
}

.carousel-indicators {
    position: absolute;
    top: 85vh;
}
.carousel-control-prev {
    position: absolute;
    top: 85vh;
}

.carousel-control-next {
    position: absolute;
    top: 85vh;
}

.carousel-inner {
    position: absolute;
    width: 100%;
    height: auto;
}

.introContainer {
    position: absolute;
    width: 100%;
    top: 40vh;
    text-align: center;
}

#introText2 {
    color: #D2492A;
}

/*about.html*/
#aboutImgContainer {
    position: absolute;
    width: 100%;
    top: 100px;
}

.rounded-circle {
    width: 300px;
    min-width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aboutTxtContainer {
    position: absolute;
    width: 100%;
    top: 425px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#aboutTxtContainer h1 {
    color: #D2492A;
}

#aboutTxtContainer ul {
    list-style-position: inside;
    padding-right: 5%;
}

/*experience.html*/
#expContainer1 {
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
}

#expContainer1 img {
    width: 250px;
    height: 200px;
}

#expDescription1 {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 30px;
    position: relative;
    width: 50%;
    height: 280px;
    float: left;
    text-align: left;
    font-size: small;
}

#expContainer2 {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 50%;
    clear: both;
    float: left;
    text-align: center;
}

#expContainer2 img {
    width: 250px;
    height: 200px;
}

#expDescription2 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    position: relative;
    width: 50%;
    height: 255px;
    float: left;
    text-align: left;
    font-size: small;
}

#expContainer3 {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 50%;
    clear: both;
    float: left;
    text-align: center;
}

#expContainer3 img {
    width: 250px;
    height: 200px;
}

#expDescription3 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    position: relative;
    width: 50%;
    height: 255px;
    float: left;
    text-align: left;
    font-size: small;
}

.jobTitles {
    color: #D2492A;
}

/*projects.html*/
.projTitles {
    color: #D2492A;
}

#projContainer1 {
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
}

#projContainer1 img{
    height: 300px;
}

#projDescription1 {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 30px;
    position: relative;
    width: 50%;
    height: 280px;
    float: left;
    text-align: left;
    font-size: small;
}

#projContainer2 {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 50%;
    clear: both;
    float: left;
    text-align: center;
}

#projContainer2 img{
    height: 300px;
}

#projDescription2 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    position: relative;
    width: 50%;
    height: 255px;
    float: left;
    text-align: left;
    font-size: small;
}

#projContainer3 {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 50%;
    clear: both;
    float: left;
    text-align: center;
}

#projContainer3 img{
    height: 300px;
}

#projDescription3 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    position: relative;
    width: 50%;
    height: 255px;
    float: left;
    text-align: left;
    font-size: small;
}

/*contact.html*/
#emailContainer {
    padding-top: 50px;
    margin: auto;
    width: 40%;
    min-width: 450px;
    text-align: center;
}

.form-group {
    text-align: center;
}

.form-group label {
    color: #D2492A;
}
.btn.btn-primary {
    text-align: center;
}

#emailReceiver {
    padding-top: 50px;
    margin: auto;
    width: 40%;
    min-width: 450px;
    text-align: center;
}

#receivedContainer {
    text-align: center;
}